version: '3'
services:
  discovery-service:
    image: elaamiri/discovery-service:first-version
    ports:
      - 8761:8761
  gateway-service:
    image: elaamiri/gateway-serive:first-version
    ports:
      - 8888:8888
    depends_on:
      - discovery-service
  customer-service:
    image: elaamiri/customer-service:first-version
    ports:
      - 8082:8082
    depends_on:
      - discovery-service
  my-billing-service:
    image: elaamiri/my-billing-service:first-version
    ports:
      - 8083:8083
    depends_on:
      - discovery-service
